@font-face {
	font-family: 'Chronicle Text G1 Roman';
	src: url('../font/ChronicleTextG1-Roman-Pro.eot');
	src: local('☺'), url('../font/ChronicleTextG1-Roman-Pro.woff') format('woff'), url('../font/ChronicleTextG1-Roman-Pro.ttf') format('truetype'), url('../font/ChronicleTextG1-Roman-Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Chronicle Text G1 Bold';
	src: url('../font/ChronicleTextG1-Bold-Pro.eot');
	src: local('☺'), url('../font/ChronicleTextG1-Bold-Pro.woff') format('woff'), url('../font/ChronicleTextG1-Bold-Pro.ttf') format('truetype'), url('../font/ChronicleTextG1-Bold-Pro.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas';
	src: url('../font/BebasNeue-Regular.eot');
	src: local('☺'), url('../font/BebasNeue-Regular.woff') format('woff'), url('../font/BebasNeue-Regular.ttf') format('truetype'), url('../font/BebasNeue-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Light';
	src: url('../font/BebasNeue-Light.eot');
	src: local('☺'), url('../font/BebasNeue-Light.woff') format('woff'), url('../font/BebasNeue-Light.ttf') format('truetype'), url('../font/BebasNeue-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
